# GitHub actions - Create QEMU installers for Windows

name: Cross build for Windows

on:
  #push:
  #  branches: [ master ]

  # Trigger workflow in GitHub web frontend or from API.
  workflow_dispatch:
    inputs:
      bits:
        description: 'Windows target'
        required: true
        default: any
        type: choice
        options:
          - 'any'
          - '32-bit'
          - '64-bit'

jobs:
  build32:
    if: ${{ (github.event.inputs.bits == 'any') || (github.event.inputs.bits == '32-bit') }}
    runs-on: [ubuntu-22.04]
    steps:
    - uses: actions/checkout@v3
    - name: Get pacman package manager
      run: .github/workflows/pacman.sh i686
    - name: Build QEMU installer (32 bit)
      run: .github/workflows/build.sh i686
    - uses: actions/upload-artifact@v3
      with:
        name: QEMU Installer Windows 32 bit
        path: dist

  build64:
    if: ${{ (github.event.inputs.bits == 'any') || (github.event.inputs.bits == '64-bit') }}
    runs-on: [ubuntu-22.04]
    steps:
    - uses: actions/checkout@v3
    - name: Get pacman package manager
      run: .github/workflows/pacman.sh x86_64
    - name: Build QEMU installer (64 bit)
      run: .github/workflows/build.sh x86_64
    - uses: actions/upload-artifact@v3
      with:
        name: QEMU Installer Windows 64 bit
        path: dist
